:root {
    --actor-textbox-width: 300px;
    --actor-textbox-height: 150px;
    --actor-content-width: 700px;
    --actor-center-indent: 200px;

    --color-titles: #a01b22;
    --color-small-titles: #6647a3;
    --color-change-cross-physical: #e79ed4;
    --color-change-cross-mental: #8f8cce;
    --border-change-cross-textbox: #3b2945;
    --background-change-cross-physical: #f1cae7;
    --background-change-cross-mental: #d2c2e6;
    --to-change-default-background: #e7e3e9;
    --to-change-box-shadow: #8f4bb4;
    --font-titles: "Euphorigenic";
    --font-body: "Segoe UI";
}
.change-cross, .character-details, .actor-sheet header {
    width: var(--actor-content-width);
}
.character-details td {
    width: 33.33%;
}
.change-cross .titles-top {
    overflow: auto;
}
.change-cross .titles-bottom {
    margin-bottom: 20px;
}
.change-cross .title-left {
    float: left;
}
.change-cross .title-right {
    float: right;
}
.change-cross .row {
    padding: 10px 0;
}
.change-cross .row-1 {
    margin: 0;
}
.change-cross .row-2 {
    margin: 20px;
}
.change-cross .row-3 {
    margin: 40px;
}
.change-cross .row-4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}
.change-cross .textbox-left {
    float: left;
}
.change-cross .textbox-right {
    float: right;
}
.change-cross .textbox-center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: var(--actor-center-indent);
}
.change-cross .textbox {
    width: var(--actor-textbox-width);
    height: var(--actor-textbox-height);
    resize: none;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid var(--border-change-cross-textbox);
}
.change-cross .textbox-physical {
    background-color: var(--background-change-cross-physical);
}
.change-cross .textbox-mental {
    background-color: var(--background-change-cross-mental);
}
.change-cross .textbox-permanence {
    background: linear-gradient(135deg, var(--background-change-cross-physical) 0%, var(--background-change-cross-mental) 50%, var(--background-change-cross-physical) 100%);
}
.character-details td {
    padding: 5px;
}
.character-details option {
    background-color: var(--to-change-default-background);
}
.charname input {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    height: fit-content;
}
.row b {
    color: var(--color-small-titles);
}

.journal-entry-content, .actor-sheet {
    background-color: var(--to-change-default-background) !important;
    background-image: none !important;
    font-family: var(--font-body), sans-serif;
    font-weight: 500;
}
.journal-entry-content h1 {
    font-family: var(--font-titles), serif;
    color: var(--color-titles);
    border-bottom: 2px solid var(--color-titles);
}
.journal-entry-content h2, .journal-entry-content h3, .journal-entry-content h4, .journal-entry-content h5 {
    color: var(--color-small-titles);
    border-bottom: 2px dotted var(--color-small-titles);
}
.title-pa, .title-pf {
    color: var(--color-change-cross-physical);
}
.title-ma, .title-mf {
    color: var(--color-change-cross-mental);
}

select:focus, textarea:focus, input:focus {
    box-shadow: 0 0 10px var(--to-change-box-shadow) !important;
}