:root {
    --tc-actor-textbox-width: 300px;
    --tc-actor-textbox-height: 150px;
    --tc-actor-content-width: 700px;
    --tc-actor-center-indent: 200px;

    --tc-color-titles: #a01b22;
    --tc-color-small-titles: #6647a3;
    --tc-color-change-cross-physical: #e79ed4;
    --tc-color-change-cross-mental: #8f8cce;
    --tc-border-change-cross-textbox: #3b2945;
    --tc-border-scrollbar: #8200ff;
    --tc-background-change-cross-physical: #f1cae7;
    --tc-background-change-cross-mental: #d2c2e6;
    --tc-background-default: #e7e3e9;
    --tc-background-default-transparent: #e7e3e9dc;
    --tc-background-scrollbar: #382278;
    --tc-shadow: #8f4bb4;
    --font-titles: "FoglihtenNo07";
    --font-body: "Segoe UI";
}
.change-cross, .character-details, .actor-sheet header {
    width: var(--tc-actor-content-width);
}
.character-details td {
    width: 33.33%;
}
.change-cross .titles-top {
    overflow: auto;
}
.change-cross .titles-bottom {
    margin-bottom: 20px;
}
.change-cross .title-left {
    float: left;
}
.change-cross .title-right {
    float: right;
}
.change-cross .row {
    padding: 10px 0;
}
.change-cross .row-1 {
    margin: 0;
}
.change-cross .row-2 {
    margin: 20px;
}
.change-cross .row-3 {
    margin: 40px;
}
.change-cross .row-4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}
.change-cross .textbox-left {
    float: left;
}
.change-cross .textbox-right {
    float: right;
}
.change-cross .textbox-center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: var(--tc-actor-center-indent);
}
.change-cross .textbox {
    width: var(--tc-actor-textbox-width);
    height: var(--tc-actor-textbox-height);
    resize: none;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid var(--tc-border-change-cross-textbox);
    font-family: var(--font-body), sans-serif;
    font-weight: 500;
}
.change-cross .textbox-physical {
    background-color: var(--tc-background-change-cross-physical);
}
.change-cross .textbox-mental {
    background-color: var(--tc-background-change-cross-mental);
}
.change-cross .textbox-permanence {
    background: linear-gradient(135deg, var(--tc-background-change-cross-physical) 0%, var(--tc-background-change-cross-mental) 50%, var(--tc-background-change-cross-physical) 100%);
}
.actor-sheet h1 {
    border: none !important;
}
.character-details td {
    padding: 5px;
}
.character-details option {
    background-color: var(--tc-background-default);
}
.charname input {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    height: fit-content;
}
.row b {
    color: var(--tc-color-small-titles);
}

.journal-entry-content, .actor-sheet, .chat-message, .roll-type-select, .roll-type-select option, .roll-type-select optgroup, #chat-message, #sidebar button, .header-search input {
    background-color: var(--tc-background-default) !important;
    background-image: none !important;
    font-family: var(--font-body), sans-serif;
    font-weight: 500;
}

.roll-type-select optgroup, .chat-message .message-sender {
    font-weight: bold !important;
}
.whisper {
    background-color: var(--tc-background-default-transparent) !important;
}
.journal-entry-content h1 {
    font-family: var(--font-titles), serif;
    color: var(--tc-color-titles);
    border-bottom: 2px solid var(--tc-color-titles);
}
.journal-entry-content h2, .journal-entry-content h3, .journal-entry-content h4, .journal-entry-content h5 {
    color: var(--tc-color-small-titles);
    border-bottom: 2px dotted var(--tc-color-small-titles);
}
.title-pa, .title-pf {
    color: var(--tc-color-change-cross-physical);
}
.title-ma, .title-mf {
    color: var(--tc-color-change-cross-mental);
}

select:focus, textarea:focus, input:focus, #sidebar button:hover {
    box-shadow: 0 0 10px var(--tc-shadow) !important;
}
a:hover, .tabs .active {
    text-shadow: 0 0 5px var(--tc-shadow) !important;
}
::-webkit-scrollbar-thumb {
    background-color: var(--tc-background-scrollbar) !important;
    border-color: var(--tc-border-scrollbar) !important;
}