<h1>Cards</h1>
{{#each cardsSorted}}
    <div class="tc-card-wrapper" title="{{#if this.showFace}}{{this.value}} - {{/if}}{{this.name}}">
        <figure class="tc-card-effect">
            <img class="tc-card" src="{{this.img}}" width="200">
        </figure>
    </div>
{{/each}}